#onboardingPagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutMeContainer {
  padding: 30px;
}

#aboutMe {
  min-width: 350px;
  min-height: 150px;
}

#addressContainer {
  display: flex;
  flex-direction: column;
}

.inputBox {
  margin: 5px 0;
}
