#appContainer,
#onboardingPagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

td {
  padding: 0 10px;
}
