#headerContainer {
  display: flex;
  width: 95vw;
  justify-content: center;
  margin: 20px;
}

#onboardingPagesContainer,
#adminContainer,
.fetchingStatusMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 85vh;
}

#aboutMeContainer {
  padding: 30px;
}

#aboutMe {
  min-width: 350px;
  min-height: 150px;
}

#addressContainer {
  display: flex;
  flex-direction: column;
}

.inputBox {
  margin: 5px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #b1aaaa;
}

#adminContainer {
  justify-content: center;
  height: 85vh;
}

.adminSetting label {
  display: flex;
  align-items: center;
}

.adminSetting h4 {
  width: 100px;
  margin-left: 10px;
}

.adminSetting h5 {
  margin-left: 10px;
}

.adminSetting input[type='radio'] {
  margin-left: 50px;
}

.adminSetting input[type='radio']:first-child {
  margin-left: 100px;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

h2 {
  padding: 10px;
}

#notification {
  text-align: center;
  width: 200px;
  height: 30px;
}
